<html>
<head>
	<title> Test Site </title>
	<!-- THIS IS A COMMENT -->
</head>
<header>
	<nav>
		<a href = "/home/"> Home </a> |
		<a href = "/test/"> Test </a> |
	</nav>
</header>
<body>
	<header>
		<h1> Header 1 </h1>
	</header>
	
	<p> Test text. Placement for buttons.</p>
	<p> Test text. Placement for buttons.</p>
	<p> Test text. Placement for buttons.</p>
	
	<footer>
		<h6> Test h6 tag in footer </h6>
	</footer>

</body>
</html>



<!--
<header>
  <nav>
    <a href = "{{ url_for('/login') }}"> Login </a>
    <a href = "{{ url_for('/login') }}"> Register</a>
  </nav>
</header>
<h1>Login</h1>
<p>No logon Servers Present </p>
-->