<html>
<head>
	<title> Test Site </title>
</head>
<header>
	<nav>
		<a href = "/login"> Login </a>
	</nav>
</header>
<body>
    <h1> {{home}} </h1>
    <h2>Author</h2>
      <li><a href="{{ url_for('author', authors_last_name='poe') }}">Edgar Allen Poe</a></li>
      <br>
      <br>
    <h3> Notes</h3>
    <form action="/login/auth" method="post">
      <textarea name="message" rows="10" cols="30"></textarea>
      <br>
      <input type="submit">
    </form>
	<footer>
		<h6> --Downing </h6>
	</footer>
</body>
</html>