<html>
<head>
	<title> Test Site </title>
</head>
<header>
	<nav>
		<a href = "/login"> Login </a>
	</nav>
</header>
<body>
    <h1> {{home}} </h1>
    <h3> Notes</h3>
    <form action="/login/auth" method="post">
      <dl>
        <dt>Title:
        <dd><input type=text name=username>
        <dt>Content:
        <dd><textarea rows = "20" cols = "20">Test text</textarea>
        <dd><input type=submit value=Submit>
      </dl>
    </form>
	<footer>
		<h6> --Downing </h6>
	</footer>
</body>
</html>